<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

<!--    <script src="https://cdn.tailwindcss.com"></script>-->
    <title>Netflow Analiser</title>
</head>
<body>
    <nav class="flex justify-between text-3xl my-3">
        <ul class="flex ml-10">
            <li>верстка гавна кста</li>
        </ul>
        <ul class="flex gap-5 mr-10">
            <li>profile</li>
            <li>logout</li>
        </ul>
    </nav>
    <hr>
    <div class="content">
        <div class="flex justify-center flex-col items-center">
            <div class="flex my-3 gap-5">
                <input id="operation_search" type="text" placeholder="Адрес" class="text-xl">
                <button onclick="searchForOperation()" class="border-2 rounded-3xl bg-gray-300 p-3">Поиск по адресау</button>
            </div>
            {% for item in list_of_users %}
                <div class="flex rounded-3 border-2 p-3 mt-5 border-radius-10px">
                    <button class="flex flex-col">
                        <span class="text-2xl font-bold">{{ item['DstIP'] }}</span>
                        <span class="text-1xl">Oktets: {{ item['Octets']}} Gb</span>
                        <span class="text-1xl">Pkts: {{ item['Pkts'] }}</span>
                    </button>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>